.Shop {
    width: 100vw;

    .MainPhoto {
        width: 100vw;
        height: 100vh;
        background-image: url("./../../assets/flowering-crabapple-3321956_1920.jpg");
        background-size: cover;
        display: flex;

        .main-container {
            width: 100%;
            margin: 0 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            div {
                color: #202020;
                font-size: 44px;
                padding-top: 20px;
                font-weight: 500;
            }

            .text {
                font-size: 30px;
                font-weight: 400;
            }
        }
    }

    .products-container {
        width: 100vw;
        padding: 0 150px;

        .products {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .product {
                margin-bottom: 50px;
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .brand {
                    width: 100%;
                    color: #202020;
                    font-weight: 400;
                    font-size: 16px;
                    text-align: center;
                }

                .name {
                    padding-top: 5px;
                    width: 100%;
                    color: #202020;
                    font-weight: 500;
                    font-size: 16px;
                    text-align: center;
                    line-height: 1.4;
                }

                .price {
                    padding: 10px 0;
                    width: 100%;
                    color: #202020;
                    font-weight: 400;
                    font-size: 20px;
                    text-align: center;
                }

                img {
                    width: 100%;
                }

                button {
                    width: 40%;
                    font-size: 15px;
                    color: #202020;
                    border: 1px solid #505050;
                    font-weight: 500;
                    box-shadow: 5px 5px 5px 0 #505050;

                    &:hover {
                        background-color: #C786AD;
                        color: white;
                        border: 1px solid #C786AD;
                    }
                }
            }

            .hidden {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 750px){
    .Shop {
        width: 100vw;

        .MainPhoto {
            background-position: 40% 0;

            .main-container {
                margin: 0;
                align-items: center;

                div {
                    font-size: 35px;
                }

                .text {
                    font-size: 25px;
                }
            }
        }

        .products-container {
            padding: 0;

            .products {
                justify-content: center;
            }
        }
    }
}