.Shop {
    width: 100vw;

    .Categories {
        width: 100vw;
        height: 16vh;
        background-color: #F6F4F3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        div {
            font-size: 20px;
            height: 7vh;
            display: flex;
            align-items: center;
            padding: 0 50px;
            color: #707070;

            &:hover {
                color: #C786AD;
            }
        }
    }

    .MainPhoto {
        position: relative;
        width: 100vw;
        height: 84vh;
        background-image: url("./../../assets/flowering-crabapple-3321956_1920.jpg");
        background-size: cover;
        display: flex;

        .subcategories {
            width: 50%;
            height: 100%;
            background-color: #F6F4F3;

            a {
                display: block;
                padding-left: 150px;
                font-size: 16px;
                padding-top: 50px;

                &:first-child {
                    padding-top: 10px;
                }

                &:hover {
                    color: #C786AD;
                }
            }
        }

        .empty {
            width: 50%;
            height: 100%;
        }

        .one {
            margin-left: 150px;
            display: flex;
            flex-direction: column;

            h1 {
                margin-top: 30vh;
                font-size: 50px;
                color: #C786AD;
                font-weight: 500;
            }

            h3 {
                margin-top: 50px;
                font-size: 30px;
                color: #C786AD;
                font-weight: 400;
            }
        }
    }

    .products-container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 150px;

        .products {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .product {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                }

                h1,h2,h3 {
                    color: black;
                }
            }
        }
    }
}