.Shop {
    width: 100vw;

    .MainPhoto {
        width: 100vw;
        height: 100vh;
        background-image: url("./../../assets/flowering-crabapple-3321956_1920.jpg");
        background-size: cover;
        display: flex;

        .main-container {
            width: 100%;
            margin: 0 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            div {
                color: #202020;
                font-size: 44px;
                padding-top: 20px;
                font-weight: 500;
            }

            .text {
                font-size: 30px;
                font-weight: 400;
            }
        }
    }

    .products-container {
        width: 100vw;
        padding: 0 150px;

        .products {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .product {
                margin-bottom: 50px;
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .brand {
                    width: 100%;
                    color: #202020;
                    font-weight: 400;
                    font-size: 20px;
                    text-align: center;
                }

                .name {
                    padding-top: 5px;
                    width: 100%;
                    color: #202020;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center;
                }

                .price {
                    padding: 10px 0;
                    width: 100%;
                    color: #202020;
                    font-weight: 400;
                    font-size: 20px;
                    text-align: center;
                }

                img {
                    width: 100%;
                }

                button {
                    width: 40%;
                    text-align: center;
                    font-size: 15px;
                    color: #202020;
                    background-color: #F6F4F3;
                    border: 1px solid #C786AD;
                    border-radius: 5px;
                }
            }
        }
    }
}