@media screen and (max-width: 450px) {
    .burger {
        position: absolute;
        top: 2.2vh;
        right: 5vw;
        width: 10vw;

        :first-child {
            margin-top: 0;
        }

        div {
            margin-top: 0.8vh;
            height: 0;
            border: 3px solid #707070;
            border-radius: 5px;
        }
    }
}