.MainContainer {

    .first {
        background-image: url("./../../assets/pink-flowers-photography-1128797.jpg");
        background-position: 70% 0;
        background-size: cover;
        width: 100vw;
        display: flex;
        align-items: center;
        height: 100vh;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .headLine {
                font-weight: 500;
                color: #202020;
            }

            .line {
                width: 100%;
                font-weight: 400;
                color: #707070;
            }

            .goToShop {
                border: 1px solid #505050;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                color: #202020;
                box-shadow: 5px 5px 5px 0 #505050;

                &:hover {
                    background-color: #C786AD;
                    color: white;
                    border: none;
                }
            }
        }
    }

    .second {
        background-color: #f6f4f3;
    }

    .fourth {
        background-color: white;
    }

    .second,
    .fourth {
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 6vw;

            .headerIdea,
            .headerOpinions {
                font-weight: 600;
                color: #707070;
            }

            .text {
                padding-top: 15px;
                font-weight: 400;
                color: #707070;
                letter-spacing: 0.2px;
                line-height: 1.4;
                text-align: center;
            }

            .container1 {
                width: 75%;
            }
        }
    }

    .third,
    .fifth {
        z-index: -1;
        background-size: cover;
        background-position: center;
    }

    .third {
        background-image: url("./../../assets/forget-me-not-4151689_1920.jpg");
        transform: scaleX(-1);
    }

    .fifth {
        background-image: url("./../../assets/aromatherapy-beautiful-blooming-blur-286763.jpg");
    }
}

@media screen and (max-width: 750px) {
    .MainContainer {

        .first {
            justify-content: center;

            .container {
                width: 88vw;
                height: 35vh;
                align-items: center;

                .headLine {
                    text-align: center;
                    font-size: 25px;
                }

                .line {
                    text-align: center;
                    font-size: 20px;
                }

                .goToShop {
                    width: 75vw;
                    height: 10vh;
                    font-size: 20px;
                }
            }
        }

        .second,
        .fourth {
            width: 100vw;
            min-height: 46vh;

            .container {

                .headerIdea,
                .headerOpinions {
                    font-size: 20px;
                }

                .text {
                    font-size: 15px;
                }
            }
        }

        .third,
        .fifth {
            width: 100vw;
            height: 46vh;
        }
    }
}

@media screen and (min-width: 751px) {
    .MainContainer {
        display: flex;
        flex-direction: column;

        .first {
            height: 50vh;
            justify-content: flex-end;

            .container {
                margin-top: 4.5vh;
                padding-right: 25px;
                width: 100vw;
                height: 15vh;
                align-items: flex-end;

                .headLine {
                    text-align: end;
                    font-size: 21px;
                }

                .line {
                    text-align: right;
                    font-size: 18px;
                }

                .goToShop {
                    width: 30vw;
                    height: 5vh;
                    font-size: 20px;
                }
            }
        }

        .second {
            position: absolute;
            top: 50vh;
            right: 0;
        }

        .second,
        .fourth {
            width: 50vw;
            height: 50vh;

            .container {
                margin: 25px;

                .headerIdea,
                .headerOpinions {
                    font-size: 20px;
                }

                .text {
                    font-size: 15px;
                }
            }
        }

        .third,
        .fifth {
            width: 50vw;
            height: 50vh;
        }

        .fifth {
            position: absolute;
            top: 100vh;
            right: 0;
        }
    }
}

@media screen and (min-width: 1024px) {
    .MainContainer {

        .first {
            height: 100vh;

            .container {
                padding-right: 100px;
                height: 30vh;

                .headLine {
                    font-size: 5.5rem;
                }

                .line {
                    font-size: 3rem;
                }

                .goToShop {
                    height: 10vh;
                    font-size: 3rem;
                }
            }
        }

        .second {
            top: 100vh;
        }

        .second,
        .fourth {
            height: 100vh;
            padding: 0 100px;

            .container {
                margin: 0;
                width: 100%;

                .headerIdea,
                .headerOpinions {
                    font-size: 30px;
                }

                .text {
                    font-size: 20px;
                }
            }
        }

        .third,
        .fifth {
            height: 100vh;
        }

        .fifth {
            top: 200vh;
        }
    }
}

@media screen and (min-width: 1440px) {
    .MainContainer {

        .first {

            .container {
                padding-right: 150px;
            }
        }

        .second,
        .fourth {
            padding: 0 150px;
        }
    }
}