@media screen and (max-width: 450px) {
    .Header {
        z-index: 1;
        position: fixed;
        background-color: #F6F4F3;
        width: 100vw;
        height: 8vh;
        border-bottom: 1px solid #707070;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            display: flex;
            flex-direction: row;

            .api {
                font-size: 5rem;
                height: 40px;
                font-weight: 300;
            }

            .container {
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    height: 2rem;
                }

                div {
                    font-size: 2rem;
                    font-weight: 200;
                }
            }
        }
    }
}