.building {
    background-image: url("./../../assets/shallow-focus-photography-of-purple-flowers-792727.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    div {
        padding-left: 150px;
        font-size: 50px;
        font-weight: 500;
        color: #FDFDFD;
    }
}

@media screen and (max-width: 750px){
    .building {
        background-position: 30% 0;
        padding: 25px 25px;

        div {
            padding: 0;
            font-size: 35px;
            text-align: center;
            font-weight: 500;
            color: #FDFDFD;
        }
    }
}