.Footer {
    width: 100vw;
    background-color: #F6F4F3;

    .socialMedia {
        color: #707070;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            font-size: 20px;
            font-weight: 500;
        }

        .iconContainer {
            width: 30vw;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;

            .facebook,
            .instagram,
            .linkedIn {
                font-size: 50px;
                opacity: 0.8;
                color: #707070;

                &:hover {
                    color: #C786AD;
                }
            }
        }
    }

    .newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        input {
            height: 25px;
            border-radius: 0;
            border: none;
            background-color: #F6F4F3;
            color: #707070;
            border-bottom: 1px solid #707070;
            width: 40vw;
        }

        button {
            color: #707070;
            font-size: 15px;
            font-weight: 500;
            height: 25px;
            border: 1px solid #707070;
            width: 30vw;

            &:hover {
                background-color: #C786AD;
                color: white;
                border: none;
            }
        }
    }

    .bottom {
        padding-top: 20px;
        width: 75vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .rules,
        .private-policy {
            font-size: 15px;
            color: #707070;
            font-weight: 500;

            &:hover {
                color: #C786AD;
            }
        }
    }

    .copyright {
        width: 100vw;
        padding-top: 20px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 20px;
        }

        div {
            font-size: 10px;
            font-weight: 400;
            color: #707070;
            padding-left: 2px;
        }
    }
}

@media screen and (max-width: 750px) {
    .Footer {

        .socialMedia {
            padding-top: 20px;

            .iconContainer {
                width: 75vw;
            }
        }

        .bottom {
            padding-top: 20px;
            width: 75vw;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 751px) {
    .Footer {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        .socialMedia {
            padding: 25px;
        }

        .newsletter {
            position: absolute;
            top: 25px;
            right: 25px;

            input {
                width: 35vw;
            }

            button {
                width: 20vw;
            }
        }

        .bottom {
            position: absolute;
            top: 70px;
            right: 25px;
            width: 40vw;
        }

        .copyright {
            bottom: 0;
            position: absolute;

            div {
                font-size: 15px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .Footer {

        .socialMedia {
            padding-left: 100px;

            .iconContainer {
                width: 25vw;
            }
        }

        .newsletter {
            right: 100px;

            input {
                width: 30vw;
            }
        }

        .bottom {
            right: 100px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .Footer {

        .socialMedia {
            padding-left: 150px;

            .iconContainer {
                width: 20vw;
            }
        }

        .newsletter {
            right: 150px;

            input {
                width: 35vw;
            }

            button {
                width: 15vw;
            }
        }

        .bottom {
            right: 150px;
        }
    }
}